/* すべてのページに適応される設定 */
html {
    font-size: 16px;
    font-family: YuGothic;
}

* {
    box-sizing: border-box;
    background-color: #edeff0;
}

body {
    margin: 0 0 0 0;
}

p,
li,
td {
    line-height: 1.7;
}

a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    color: #08572d;
    text-decoration: underline;
}

a:active {
    color: #08572d;
    text-decoration: underline;
}

/* すべてのページに適応 - ヘッダー */
.a-top {
    margin: 0 0 0 0;
    border-top: 20px solid #08572d;
    padding-top: 5px;
    padding-bottom: 0;
    text-align: center;
}

.nav {
    margin: 0 0 0 0;
    padding: 10px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}

/* すべてのページに適応 - ヒーロー */
.hero {
    padding: 20px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    text-align: center;
}

.hero.index {
    color: #ffffff;
    padding: 30px 0;
    background-image: url(../images/hero-index.jpg);
}

.hero.money {
    background-image: url(../images/hero-money.jpg);
}

.hero.career {
    background-image: url(../images/hero-career.jpg);
}

.hero.consult {
    background-image: url(../images/hero-consult.jpg);
}

.hero.send {
    background-image: url(../images/Thankyou.png);
}

/* すべてのページに適応 ‐ メイン */
.message {
    margin: 120px;
    padding-bottom: 3px;
}

main h3 {
    margin: 10px 0 0 0;
    border-top: 3px solid #08572d;
    padding: 0 0 0 0;
    color: #b75500;
    font-size: 1.3rem;
}

.Note {
    font-size: 0.6rem;
    text-align: right;
}

/* すべてのページに適応 ‐ フッター */
.gotop {
    text-align: left;
    margin-left: 5px;
    display: flex;
    height: 40px;
}

.copyright {
    margin-top: 5px;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 50PX;
    background-color: #08572d;
    color: #FFFFFF;
    text-align: right;
    font-size: 1.5rem;
}

/* 個別スタイル */

/* index.html */
.top-message {
    text-align: center;
}

.explanation {
    text-align: center;
}

/* career.html */
.careere-table {
    width: 1000px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.careerexplanation {
    border-collapse: collapse;
    text-align: left;
}

.careerexplanation th,
.careerexplanation td {
    border: 2px solid #08572d;
    padding: 30px;
}

.careerexplanation th {
    width: 300px;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

/* send.html */
.sendcomment {
    margin: 10px 0 0 0;
    border-top: 3px solid #08572d;
    padding: 0 0 0 0;
    color: #000000;
    font-size: 1.1rem;
    text-align: center;
}

/* consult.html */
form {
    margin: 0 auto;
    max-width: 640px;
}

input {
    border: 2px #08572d solid;
}

input[type="text"],
textarea {
    padding: 6px;
    width: 100%;
    font-size: 1rem;
}

input[type="submit"] {
    border: none;
    padding: 20px;
    width: 200px;
    background-color: #08572d;
    color: #ffffff;
    font-size: 1rem;
}

textarea {
    border: 2px #08572d solid;
    height: 140px;
}

.submit {
    text-align: center;
}

.supplement {
    font-size: 0.8rem;
}

.select {
    border: 2px #08572d solid;
}

/* money.html */
.items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

span.amount {
    color: #dc7602;
}

.Budgetinformation {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}