* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #050816;
    color: white;
    overflow-x: hidden;
}

/* ヘッダー */
header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 100;
    backdrop-filter: blur(12px);
    background: rgba(0, 0, 0, 0.3);
}

.logo {
    /* color: #00f7ff; */
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

nav a {
    margin-left: 25px;
    color: white;
    text-decoration: none;
}

/* ヒーロー */
.hero {
    position: relative;
    height: 100vh;

    background:
        url("../images/hero.png") center/cover no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 10;
    max-width: 800px;
}

.sub-title {
    color: #00f7ff;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 90px;

    /* ネオン強化 */
    text-shadow:
        0 0 10px #00f7ff,
        0 0 20px #00f7ff,
        0 0 40px #00f7ff;

    opacity: 0;
    transform: translateY(40px);
    transition: all 1s ease;
}

.hero h1.show {
    opacity: 1;
    transform: translateY(0);
}

.description {
    font-size: 20px;
    margin: 25px 0;
}

.hero-buttons {
    margin-top: 30px;
}

/* ABOUTの文字演出 */
.about-content h2 {
    font-size: 70px;
    text-shadow: 0 0 25px #00f7ff;

    /* フェード演出 */
    opacity: 0;
    transform: translateY(40px);
    transition: all 1s ease;
}

.about-content.show h2 {
    opacity: 1;
    transform: translateY(0);
}

/* ボタン */
.secondary-btn {
    display: inline-block;
    padding: 15px 35px;
    margin: 10px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
}

.secondary-btn {
    border: 2px solid #00f7ff;
    color: white;
}

/* 浮遊カード */
.floating-card {
    transform-style: preserve-3d;
    transition: transform 0.15s ease;
}

/* floating animation と transform が競合
.floating-card {
    position: absolute;
    bottom: 80px;
    right: 80px;

    z-index: 20;

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(18px);

    padding: 25px;
    border-radius: 20px;

    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);

    animation: float 4s ease-in-out infinite;
} */

/* セクション */
.section {
    padding: 120px 20px;
    text-align: center;
}

.section h2 {
    font-size: 42px;
    margin-bottom: 30px;
}

/* カード */
.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    width: 280px;
    padding: 35px;

    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;

    transition: 0.3s;
}

.card:hover {
    transform: translateY(-12px);
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 16px;
    margin-bottom: 20px;

    transition: 0.4s;
}

/* about関連 */
.about-hero {
    position: relative;
    height: 80vh;

    background:
        linear-gradient(135deg, rgba(8, 21, 47, 0.6), rgba(14, 41, 79, 0.6)),
        /* 前に設定するグラデーションの透過 */
        url("../images/about.png");

    background-size: cover, 90%;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
}

.about-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
}

.about-content {
    position: relative;
    z-index: 10;

    max-width: 700px;
    text-align: center;
    padding: 40px;

    opacity: 0;
    transform: translateY(40px);
    transition: all 1s ease;
}

.about-content.show {
    opacity: 1;
    transform: translateY(0);
}

.about-content h2 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #00f7ff;
}

.about-content p {
    font-size: 22px;
    line-height: 1.8;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}

.cards-overlap {
    position: relative;
    margin-top: -50px;
    /* ABOUTとカードの重なり */

    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

    z-index: 30;
    padding: 0 20px 20px;
    /* カード下の余白 */
}

.image-card {
    position: relative;
    width: 320px;
    height: 420px;

    border-radius: 24px;
    overflow: hidden;

    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.45);

    opacity: 0;
    transform: translateY(40px);
    transition: 0.6s;
}

.image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
}

.image-card::after {
    content: "";
    position: absolute;
    inset: 0;

    background: rgba(255, 255, 255, 0.08);
    /* カードの明るさ　←これが効く */
    pointer-events: none;
}

.card-overlay {
    position: absolute;
    bottom: 30px;
    left: 25px;
    right: 25px;

    z-index: 10;
}

.card-overlay h3 {
    font-size: 28px;
    margin-bottom: 10px;
}

.card-overlay p {
    font-size: 16px;
    color: #d1d5db;
}

.image-card:hover {
    filter: brightness(1.2);
    box-shadow: 0 30px 80px rgba(255, 255, 255, 0.2);
    transform: translateY(-15px) scale(1.03);
}

.image-card {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease;
}

.image-card.show {
    opacity: 1;
    transform: translateY(0);
}

html {
    scroll-behavior: smooth;
}

/* 画面下部の構成 */
.download {
    background: linear-gradient(135deg, #08152f, #0e294f);
    padding: 50px 20px 0;
    position: relative;
    height: 60vh;
    /* 画面の60% */

    background-image: url("../images/download-b.png");
    background-size: auto 105%;
    background-repeat: no-repeat;
    background-position: center 10%;

    justify-content: center;
    padding-top: 50px;
}

/* 暗いオーバーレイ */
.download::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

/* テキストを前に出す */
.download * {
    position: relative;
    z-index: 1;
}

.download h2 {
    margin-bottom: 100px;
    font-size: 70px;
    letter-spacing: 3px;

    /* ネオン風 */
    text-shadow:
        0 0 10px #00f7ff,
        0 0 20px #335051,
        0 0 40px #00f7ff;

    /* アニメーション準備 */
    opacity: 0;
    transform: translateY(40px);
    transition: all 1s ease;
}

.download.show h2 {
    opacity: 1;
    transform: translateY(0);
}

/* フッター */
footer {
    background: #050b1a;
    color: #aaa;
    text-align: center;
    padding: 20px 10px;
    font-size: 14px;
}